/* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
/* Remove rounded borders from list */
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Remove border and add padding to thumbnails */
.thumbnail {
    padding: 0 0 15px 0;
    border-radius: 4;

}

.thumbnail p {
    margin-top: 15px;
    color: #fff;
}

/* On hover, the color of .btn will transition to white with black text */
.btn:hover, .btn:focus {
    border: 1px solid #0E7A00;
    background-color: #fff;
    color: #000;
}
 .rowcontent {
      background-color: #f2f2f2;
      padding: 25px;
    }

   .container-fluid-grey {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color:#f2f2f2;
}
.btn {
    padding: 7px 15px;
    align-items: center;
    background-color: #0E7A00;
    color: #f1f1f1;
    border-radius: 10px;
    transition: .2s;
    margin: 5px;
  }
  .thumbnail-content {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 4px;
    transition: border .2s ease-in-out;
  }
  .btn-cancel {
    padding: 7px 15px;
    align-items: center;
    background-color: red;
    color: #f1f1f1;
    border-radius: 10px;
    transition: .2s;
    margin: 5px;
}
.h2, h2 {
    font-size: 30px;
    color: #0E7A00;
    border-bottom: 0.5px solid #ccc;
    padding-bottom: 10px;
    text-align: center;
}
.btn-login {
    padding: 7px 15px;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #0E7A00;
    color: #f1f1f1;
    border-radius: 10px;
    transition: .2s;
    margin: 5px;
  }
  .col-sm-4-border {
    width: 33.33333333%;
    border-right: 0.5px solid #ccc;
    border-left: 0.5px solid #ccc;
  }
  